@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');

/*
.quicksand-<uniquifier> {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

body{
    font-family: "Quicksand";
    
}

.Imagen-inicio{
    width: 600px ;
    height: 300px;
}
.img-programa{
    width: 300px ;
    height: 150px;
   
}

.nav-main{
    
    border: 2px solid peru;
    border-radius: 20px;
    
}


.nav-main h1{
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
nav{
    background-color: brown;
    padding: 5px;
}
.navega{
    background-color: brown;
}
.navega li{
    list-style: none;
    text-align: center;
    margin-top: 10px;

}
.navega li a{
    color: brown;
    color: white;
    text-decoration: none;
    
    margin: 20px;
}

.nav-btn{
    background-color: rgb(75, 171, 250);
    color: white;
    border-radius: 10px;
    border-style: none;
}

 h2{
    background-color: brown;
    color: white;
    text-align: center;
}

.head-prg{
    background-color: #0e83f0;
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
    font-weight: 900;
}
.btn-info{
    background-color: hsl(0, 89%, 50%);
    color: white;
    border: 5px solid hsl(0, 89%, 50%);
    border-radius: 20px;
}